dotconfig/mpv/watch_later/
**/lazy-lock.json
dotconfig/zsh/.zcompdump
dotconfig/zsh/.zcompcache
dotconfig/zsh/.zsh_sessions/
dotconfig/zsh/.zhistfile
dotconfig/zsh/.zhistfile
dotconfig/qutebrowser/*.yml
dotconfig/qutebrowser/bookmarks/
dotconfig/qutebrowser/qsettings/
dotconfig/qutebrowser/quickmarks
**/.DS_Store
**/mpd/*
!dotconfig/mpd/mpd.conf
dotconfig/bat/themes/*
