*.log
history/
nvim*/lazy-lock.json
nvim*/lazyvim.json
.tmux/
zsh/.zhistfile
zsh/.zcom
zsh/.zcompdump
zsh/.zcompcache
*/.zhistfile
ncspot/*.cbor
.luarc.json
qutebrowser/*.yml
qutebrowser/bookmarks/
qutebrowser/qsettings/
qutebrowser/quickmarks
.DS_Store
ghostty/config
