 * {
  font-family: "Hack Nerd Font Mono";
  font-size: 20px;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(41, 46, 66, .95);
  margin: auto;
  border-radius: 30px;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
