[Desktop Entry]
Name=Impala
GenericName=Wifi device manager
Comment=Configure audio device settings
TryExec=impala
Exec=footclient -a impala impala
Type=Application
Keywords=wifi
Categories=Utility;Settings;ConsoleOnly
StartupNotify=false
