[Desktop Entry]
Name=Impala
GenericName=network configuration tool
Comment=Edit network configuration
TryExec=impala
Exec=impala
Terminal=true
Type=Application
Keywords=wifi;network;
Categories=Utility;
StartupNotify=false
