[Desktop Entry]
Name=Bluetoothctl
GenericName=Bluetooth configuration tool
Comment=Edit bluetooth configuration
TryExec=bluetoothctl
Exec=bluetoothctl
Terminal=true
Type=Application
Keywords=bluetooth;
Categories=Utility;
StartupNotify=false
