[Desktop Entry]
Name=Paystack Orders
TryExec=jacob_paystack
Exec=jacob_paystack
Type=Application
Keywords=kragsentrale;membership;order;paystack
Categories=Utility;
StartupNotify=false
