[Desktop Entry]
Name=Proton Calendar
GenericName=Proton Calendar
Comment=Proton Mail Calendar app
TryExec=firefox
Exec=firefox --new-window https://calendar.proton.me/u/2/
Type=Application
Keywords=proton;calendar;
Categories=Utility;
StartupNotify=false
