[Desktop Entry]
Name=tmux
GenericName=tmux
Comment=Multiplex those terminals
TryExec=tmux
Exec=footclient -T tmux -a tmux sh -c 'tmux attach || tmux new -s $(whoami)'
Type=Application
Keywords=terminal;
Categories=Utility;
StartupNotify=false
