[Desktop Entry]
Name=tmux
GenericName=tmux
Comment=Multiplex those terminals
TryExec=tmux
Exec=footclient -T tmux -a tmux tmux new-session -A -s jacob
Type=Application
Keywords=terminal;
Categories=Utility;
StartupNotify=false
