[Desktop Entry]
Name=Whatsapp
GenericName=Whatsapp
Comment=Send and receive messages
TryExec=whatsapp
Exec=whatsapp
Type=Application
Keywords=message;whatsapp;
Categories=Utility;
StartupNotify=false
