@define-color base00 #000000;
@define-color base01 #121212;
@define-color base02 #222222;
@define-color base03 #606060;
@define-color base04 #000000;
@define-color base05 #c1c1c1;
@define-color base06 #999999;
@define-color base07 #c1c1c1;
@define-color base08 #5f8787;
@define-color base09 #aaaaaa;
@define-color base0A #974b46;
@define-color base0B #eceee3;
@define-color base0C #aaaaaa;
@define-color base0D #888888;
@define-color base0E #999999;
@define-color base0F #708484;

* {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @base05;
    background-color: @base00;
}

#workspaces button {
    color: @base05;
    padding-left: 0.5em;
}

#workspaces button.empty {
    color: @base0D;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray,
#clock {
    padding-right: 1em
}
