@define-color foreground #c1c1c1;
@define-color foreground-inactive #8e8e8e;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.5em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray,
#clock {
    padding-right: 1em
}
